.remark-slide-content {
  background-image: radial-gradient(rgb(246,231,176), rgb(206,191,136));
  font-size: 25px;
}

.remark-slide li {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.remark-slide .tight li {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.remark-code {
  font-size: 25px;
  text-align: left;
}

.icon > img {
  height: 3em;
}

.logo > img {
  height: 5.5em;
}

.med-image > img {
  height: 400px;
}

h1 {
  color:rgb(47,48,80);
}

blockquote {
  border-left: 0.3em solid rgba(0,0,0,0.5);
  padding: 0 15px;
  font-style: italic;
}

.remark-slide-number {
  display: none;
}
